@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored css */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
  margin: 0;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored css */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

img {
  width: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, p {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #2F3B59;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 50px;
}

body {
  background: rgb(238, 174, 202);
  background: -moz-linear-gradient(0deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  background: -webkit-linear-gradient(0deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  background: linear-gradient(0deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#94bbe9", GradientType=1);
}

.weatherContainer {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 1fr 12fr 3fr 1fr;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.weatherContainer input, .weatherContainer button, .weatherContainer #test {
  grid-column: 2;
  grid-row: 3;
  width: 20%;
  height: 50px;
  justify-self: center;
  border-radius: 50px;
  border: none;
  text-align: center;
}
.weatherContainer input:focus, .weatherContainer button:focus, .weatherContainer #test:focus {
  outline: none;
}
.weatherContainer button {
  position: relative;
  left: 15%;
  width: 8%;
  color: #2F3B59;
  transition: background-color 0.3s, color 0.3s;
}
.weatherContainer button:hover {
  background-color: rgb(232, 130, 176);
  color: white;
}
.weatherContainer #error {
  position: relative;
  top: 3em;
}
.weatherContainer .weather__result {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-self: center;
  gap: 50px;
  width: 70%;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: rgba(255, 255, 255, 0.13) solid 3px;
  box-shadow: 1px 1px 19px 1px rgba(255, 255, 255, 0.49);
  -webkit-box-shadow: 1px 1px 19px 1px rgba(255, 255, 255, 0.49);
  -moz-box-shadow: 1px 1px 19px 1px rgba(255, 255, 255, 0.49);
}
.weatherContainer .weather__result #weatherIcon {
  width: 100%;
}
.weatherContainer .weather__result #weatherIcon img {
  width: 10%;
  height: auto;
  justify-self: center;
}
.weatherContainer .weather__result #weatherIcon h3 {
  width: 80%;
  justify-self: center;
}

/*# sourceMappingURL=style.css.map */
